:root {
  --c-primary: hsl(196, 91%, 29%);
  --c-accent: hsl(157, 44%, 49%);
  --c-grey: hsl(198, 11%, 36%);
  --c-grey-lighter: hsl(198, 11%, 56%);
  --c-grey-lightest: hsl(198, 11%, 76%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 100%;
  color: var(--c-grey);
}

html,
body {
  margin: 0;
  padding: 0;
}
/* prevent zooming on double-tap
https://stackoverflow.com/questions/46167604/iphone-html-disable-double-tap-to-zoom */
button {
  touch-action: manipulation;
}
/* accord native elements to website style */
button,
input,
textarea,
select {
  font: inherit;
  text-align: inherit;
}
